.app {
    display: flex;
    flex-wrap: wrap;
}

.info-col {
    display: flex;
    flex-direction: column;
    font-size: 4vmin;
}

.board {
    height: 100vmin;
    width: 100vmin;
}

.board .cell {
    fill: #eeeeee;
    stroke: #7c37dc;
}

.board .cell.possible {
    fill: #d1fec8;
}

.board .cell.highlighted {
    fill: #fffe9f;
}

.board .cell.claimed {
    fill: #555555;
}

.board .cell.top-move-src {
    fill: #7fec6e;
}

.board .cell.top-move-dst {
    fill: #7ed370;
}

.board .fish {
    fill: #888888;
}

.penguin {
    fill-opacity: 1;
    stroke: none;
}

.penguin.beak {
    fill: #fb8b00;
}

.penguin.eyes {
    fill: #ffffff;
}

.penguin.foot {
    fill: #fb8b00;
}

.human {
    color: blue;
    fill: blue;
}

.bot {
    color: red;
    fill: red;
}

.info-col progress {
    width: 100%;
}