name: WWW build
env:
  CARGO_TERM_COLOR: always

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
        node-version: [24.x]

    name: Test WWW on ${{matrix.os}}
    runs-on: ${{matrix.os}}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Cargo cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo
            ~/.rustup
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Library caches
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache
            ~/Library/Caches/
          key: ${{ runner.os }}-library

      - name: Setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Run tests
        run: bun ./node_modules/hereby/bin/hereby.js test
